<app-navbar></app-navbar>
<div class="signup-container">
    <div class="signup-form-container">
      <h2>Registrarse</h2>
      <p>Eres miembro? <a routerLink="/singin">Login</a></p>
      <form #signUpForm="" novalida>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="nombre" [(ngModel)]="user.nombre">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="user.email" >
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="user.contrasena">
        </div>
        <div class="form-group">
          <label for="age">Edad:</label>
          <input type="text" id="edad" name="edad" [(ngModel)]="user.edad">
        </div>
        <button type="submit" (click)="guardarUsuario()">Registrar</button>
      </form>
      <div class="signup-separator">
        <span>o Registrar con</span>
      </div>
      <div class="signup-social">
        <a href="#" class="signup-social-link"><i class="fab fa-google"></i> Google</a>
        <a href="#" class="signup-social-link"><i class="fab fa-facebook"></i> Facebook</a>
      </div>
    </div>
  </div>
  
