<app-navbar></app-navbar>
<div class="signin-container">
    <div class="signin-form-container">
      <h2>Iniciar Sesion</h2>
      <p>No eres miembro aun? Registrate ahora</p>
      <a routerLink="/singup">Sign up</a>
      <form  [formGroup]="formularioRegistro">
        <div class="form-group">
          <label for="email">Email:</label>
          <input [ngClass]="{'input-error': email?.invalid && (email?.dirty || email?.touched)}" formControlName="email"   type="email" id="email" name="email" required [(ngModel)]="user.email">
          <div  *ngIf="email?.invalid && (email?.dirty || email?.touched)"  class="error">Error</div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input  formControlName="contrasena" type="password" id="password" name="password" [(ngModel)]="user.contrasena">
          
        </div>
        <div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="inlineFormCheck">
            </div>
          </div>
        <button [disabled]="!formularioRegistro" type="submit" (click)="login()">Sign In</button>
      </form>
      <div class="signin-separator">
        <span>or sign in with</span>
      </div>
      <div class="signin-social">
        <a href="#" class="signin-social-link"><i class="fab fa-google"></i> Google</a>
        <a href="#" class="signin-social-link"><i class="fab fa-facebook"></i> Facebook</a>
      </div>
    </div>
  </div>