<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="sidebar-user">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none">
          <img src="{{user.imagen}}" alt="hugenerd" width="45" height="45" class="rounded-circle">
          <span class="d-none d-sm-inline mx-1">{{user.nombre}}</span>
        </a>
      </div>
      <div class="sidebar-menu">
        <ul class="sidebar-list">
          <li class="sidebar-item">
            <a class="sidebar-link">
              <i class="bi bi-list-task"></i> <span class="sidebar-text">Todos tus proyectos</span>
            </a>
          </li>
          <li   class="sidebar-item">
            <a class="sidebar-link">
              <i class="bi bi-code"></i> <span class="sidebar-text">Invitaciones</span>
            </a>
          </li>
          <li  class="sidebar-item">
            <a  class="sidebar-link">
              <i class="bi bi-code"></i> <span class="sidebar-text">Mis Invitaciones</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">
              <i class="bi bi-globe"></i> <span class="sidebar-text">Proyectos públicos</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">
              <i class="bi bi-lock"></i> <span class="sidebar-text">Proyectos privados</span>
            </a>
          </li>
        </ul>
      </div>      
      <div class="sidebar-footer">
        <div  id="nuevoProyecto-btn" class="d-flex align-items-center text-white text-decoration-none">
         <div>
          <img src="assets/img/anadir.png" alt="hugenerd" width="45" height="45">
          <span class="d-none d-sm-inline mx-1">Añadir nuevo proyecto.</span>
         </div>
         <div>
          <img  src="assets/img/anadir.png" alt="hugenerd" width="45" height="45">
          <span class="d-none d-sm-inline mx-1">Añadir nueva Invitacion</span>
         </div>
        </div>
      </div>          
</div> 