<app-navbar></app-navbar>
<div class="container-fluid text-center">
    <!--Principal Section-->
    <div class="principal-section">
        <div class="text-section">
            <h1>Crea & testea código Front-End</h1>
            <div class="text-center-section">
                <div class="image-column">
                    <img src="assets/img/CA.png" alt="Imagen" width="80px">
                </div>
                <div class="text-column">
                    <p>CodeAndo es una plataforma online para diseñadores y desarrolladores de front-end.</p>
                </div>
            </div>
            <footer>
                <p>Nuestra plataforma le permite codificar, aprender,
                    construir y colaborar en sus proyectos compartiendo
                    codigo HTML, CSS, Javascript
                </p>
            </footer>
        </div>
        <div class="image-section">
            <img src="assets/img/codigo_LP.png" alt="Imagen de bienvenida">
        </div>
    </div>
    <!--Featuares Section-->
    <section class="features-section" id="features">
        <div class="container">
            <h2 class="text-center">Características</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/features_img.png" alt="Imagen de características">
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Código Colaborativo: comparte proyectos con otros desarrolladores en tiempo real.</li>
                        <li>Funciones de edición inteligente, como autocompletar, refactorizar código.</li>
                        <li>Ampliable con una gran cantidad de extensiones existentes.</li>
                        <li>Amplia tu código.</li>
                        <li>Vista previa de la salida de la aplicación.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Snippets Sample Section-->
    <section class="snippets-section">
        <div class="container">
          =
          <div class="row">
            <div class="col-sm-6">
              <ul>
                <li>Crea Snippets en cualquier lenguaje de programación</li>
              </ul>
            </div>
            <div class="col-sm-6">
              <img src="assets/img/01-new-snippet.gif" alt="Snippets" class="img-fluid">
            </div>
          </div>
        </div>
      </section>
      <!--Tools Section-->
      <section class="tools-section">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="tool">
                <img src="assets/img/agregar-carpeta.png" alt="agregar-carpeta">
                <h3>Crea carpetas para organizar proyectos.</h3>
              </div>
            </div>
            <div class="col-md-3">
              <div class="tool">
                <img src="assets/img/carpeta.png" alt="carpeta">
                <h3>Ordena tus archivos & proyectos.</h3>
              </div>
            </div>
            <div class="col-md-3">
              <div class="tool">
                <img src="assets/img/nube.png" alt="nube">
                <h3>Almacena tus proyectos en la plataforma.</h3>
              </div>
            </div>
            <div class="col-md-3">
              <div class="tool">
                <img src="assets/img/descarga.png" alt="descarga">
                <h3>descarga tus proyectos.</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="tool">
                <img src="assets/img/offline.png" alt="offline">
                <h3>Trabaja de manera Offline.</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      


</div>
