<app-navbar></app-navbar>
<div class="pricing-container">
    <div class="pricing-title">
      <h2>Precios</h2>
      <p>por mes</p>
    </div>
    <div class="pricing-tables">
      <div class="pricing-table ptable-1">
        <h3>GRATIS</h3>
        <p class="price">$0</p>
        <ul>
          <li>1 proyectos</li>
          <li>Colaboración compartida</li>
        </ul>
        <button class="pricing-table button button-x">¡Comprar Ahora!</button>
      </div>
      <div class="pricing-table ptable-2">
        <h3>BÁSICO</h3>
        <p class="price">$20</p>
        <ul>
          <li>5 proyectos</li>
          <li>Colaboración compartida</li>
          <li>Trabajo fuera de línea</li>
        </ul>
        <button class="pricing-table button">¡Comprar Ahora!</button>
      </div>
      <div class="pricing-table ptable-3">
        <h3>PREMIUM</h3>
        <p class="price">$50</p>
        <ul>
            <li>15 proyectos</li>
            <li>Colaboración compartida</li>
            <li>Trabajo fuera de línea</li>
        </ul>
        <button class="pricing-table button">¡Comprar Ahora!</button>
      </div>
    </div>
  </div>  
